<ion-header>
  <ion-toolbar>
    <ion-title>cursos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<!--
<img src="/assets/icon/b.jpg" alt="" />-->

  <p>Assistente Administrativo;</p>
  <p>Assistente de Logística;</p>
  <p>Técnico em Administração;</p>
  <p>Assistente Pessoal;</p>
  <p>Técnico em Informática;</p>
  <p>Técnico em Secretaria Escolar;</p>
  <p>Técnico em Segurança do Trabalho;</p>
  <p>Inglês Intermediário.</p> 


  <!--
  <img src="/assets/icon/c.jpg" alt="" />
  <p>Empreendedorismo e Inovação;</p>
  <p>Estratégia de Negócios;</p>
  <p>Introdução à Administração;</p>
  <p>Introdução à Gestão de Projetos.</p>
-->

</ion-content>
