<ion-header>
    <ion-toolbar>
      <ion-title>Cursos</ion-title>
    </ion-toolbar>
  </ion-header>
 
  <ion-menu side="start" menuId="first">
        <ion-header>
          <ion-toolbar color="primary">
            <ion-title>Start Menu</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list>
         
            
            <ion-item href="cursos">
              <ion-icon slot="start" color="medium" name="book"></ion-icon>
              <ion-label>Cursos</ion-label>
            </ion-item>
      
            <ion-item href="workshop">
              <ion-icon slot="start" color="medium" name="book"></ion-icon>
              <ion-label>Workshop</ion-label>
            </ion-item>
      
            <ion-item href="palestra">
              <ion-icon slot="start" color="medium" name="book"></ion-icon>
              <ion-label>Palestra</ion-label>
            </ion-item>
      
            <ion-item href="rodadeconversas">
              <ion-icon slot="start" color="medium" name="book"></ion-icon>
              <ion-label>Roda de Conversas</ion-label>
            </ion-item>
      
          
          </ion-list>
    
        </ion-content>
      </ion-menu>
      
      
  <ion-router-outlet main></ion-router-outlet>

  <div class="ion-page" main>
        <br/><br/><br/>
    
        <h1>Tecnico em Informática</h1>
    
        <img src="/assets/icon/b.jpg" alt="" />
        
          <p>&nbsp;On Byte Penha | RJ | Curso de Informática e Profissionalizantes
              Enderoço:R. dos Romeiros, 92 - Penha, Rio de Janeiro - RJ, 21070-090
              telefone:(21) 3579-6675;</p>
          <p>&nbsp;Microlins Bonsucesso
              Endereço:Rua Cardoso de Morais, 61 - 220 - Bonsucesso, Rio de Janeiro - RJ, 21032-000
              Telefone: (21) 2590-2223;</p>
              <p>&nbsp;Alfabits Curso de Informática
                Endereço:R. Baturité, 36 - Loja 107 - Bonsucesso, Rio de Janeiro - RJ, 21040-310
                Telefone:(21) 3079-4503
                ;</p>
            <p>&nbsp;Curso ADV Informática
                Endereço:8º Ed. Darke Avenida Treze de Maio, 23 Grupo 6, 8º andar - Centro, RJ, 20031-902
                Telefone(21) 2210-1180;</p>
                <p>&nbsp;
                    Info School - Freguesia RJ
                    Endereço:Av. Geremário Dantas, 1400 - Freguesia de Jacarepaguá, Rio de Janeiro - RJ, 22760-401
                    Telefone:(21) 3392-3767.</p> 
      
      
            <h1>Tecnico em Administração</h1>
      
        <img src="/assets/icon/c.jpg" alt="" />
       
        <p>&nbsp;
            Senac RJ - Centro Politécnico Riachuelo
            Endereço:R. Vinte e Quatro de Maio, 543 - Sampaio, Rio de Janeiro - RJ, 20950-091
            Telefone:(21) 2582-5500;</p>
        <p>&nbsp;Senac RJ - Madureira
            Endereço: R. Ewbank da Câmara, 91 - Madureira, Rio de Janeiro - RJ, 21310-150
            Telefone:(21) 3390-9274;</p>
        <p>&nbsp;Escola Técnica Centro Rio - Cursos Técnicos e Profissionalizantes
            Endereço:R. Camerino, 130 - Centro, Rio de Janeiro - RJ, 20080-010
            Telefone:(21) 2516-7363;</p>
        <p>&nbsp;Senac RJ - Bonsucesso
            Endereço:R. Dona Isabel, 700 - Bonsucesso, Rio de Janeiro - RJ, 21032-060
            Telefone:(21) 2560-0941;</p>
        <p>&nbsp;Senac Copacabana
            Endereço:Rua Pompeu Loureiro, 45 - Copacabana, Rio de Janeiro - RJ, 22021-001
            Telefone:(21) 2545-4849.</p>
      
      
      
        <h1>Tecnico em Enfermagem</h1>
      
        <img src="/assets/icon/d.jpg" alt="" />
      
        <p>&nbsp;Curso Souza Barros de Enfermagem
          Endereço:Av. Dom Hélder Câmara, 5200 - Cachambi, Rio de Janeiro - RJ, 20771-004
          Telefone:(21) 2281-0778;</p>
        <p>&nbsp;Curso Marajoara
          Endereço:Av. Min. Edgard Romero, 250 - Madureira, Rio de Janeiro - RJ, 21360-200
          Telefone:(21) 3390-6682;</p>
        <p>&nbsp;Curso Tavares Lira Tec Enfermagem
          Endereço:R. São Francisco Xavier, 591 - Maracanã, Rio de Janeiro - RJ, 20550-011;</p>
        <p>&nbsp;Curso de Enfermagem - Escola Técnica Mônaco
          Endereço:Estr. do Portela, 107 - Madureira, Rio de Janeiro - RJ, 21350-050
          Telefone:(21) 4132-7355;</p>
        <p>&nbsp;Prius - Curso Preparatório para Concursos de Enfermagem
          Endereço:Av. Pres. Vargas, 534 - 14 andar - Centro, Rio de Janeiro - RJ, 20071-001
          Telefone:(21) 2283-2127.</p>
      
        <h1>Curso de Barbeiro</h1>
      
        <img src="/assets/icon/e.jpg" alt="" />
      
        <p>&nbsp;Salão Escola F.A. o melhor curso de barbeiro do RJ.
            Endereço:Centro Comercial Edgar Romero, Av. Min. Edgard Romero, 460 - Madureira, Rio de Janeiro - RJ, 21360-200
            Telefone:(21) 3391-9680;</p>
        <p>&nbsp;Curso de Barbeiro Batalha dos Barbeiros Brasil
            Endereço:R. do Sulista, 368 - Campo Grande, Rio de Janeiro - RJ, 23097-597
            Telefone:(21) 3377-1041;</p>
        <p>&nbsp;Fernando Inácio Curso de Barbeiro
            Endereço:R. Abílio José de Mattos, 1254 - Lj 02 - Porto da Pedra, São Gonçalo - RJ, 24436-00
            Telefone:(21) 98800-0157.</p>
        
      
        <h1>Tecnico em Farmacia</h1>
      
        <img src="/assets/icon/f.jpg" alt="" />
      
        <p>&nbsp;AVR3 Udine Cursos de Formação Profissional
            Endereço:Praça das Nações - Bonsucesso, Rio de Janeiro - RJ, 21041-010
            Telefone:(21) 2270-2121;</p>
        <p>&nbsp;Curso UP - Universo Profissional
            Endereço:Rua Cardoso de Morais, 250 - Bonsucesso, Rio de Janeiro - RJ, 21032-000
            Telefone:(21) 2260-6084;</p>
        <p>&nbsp;Senac RJ - Bonsucesso
            Endereço: R. Dona Isabel, 700 - Bonsucesso, Rio de Janeiro - RJ, 21032-060
            Telefone:(21) 2560-0941;</p>
        <p>&nbsp;Cursos Elion
            Endereço:Escola Técnica e Profissionalizante - Cursos Elion - Av. Getúlio de Moura, 1483 - Centro, Nilópolis - RJ, 26525-001
            Telefone:(21) 3186-3404;</p>
        <p>&nbsp;Escola Politécnica de Saúde Joaquim Venâncio
            Endereço:Av. Brasil, 4365 - Manguinhos, Rio de Janeiro - RJ, 21040-900
            Telefone:(21) 3865-9805.</p>
       
        <h1>Inglês Basico</h1>
      
        <img src="/assets/icon/g.jpg" alt="" />
      
        <p>&nbsp;Cultura Inglesa - Bonsucesso
            Endereço:Praça das Nações, 34 - Loja 101 - Bonsucesso, Rio de Janeiro - RJ, 21041-020
            Telefone:(21) 3977-8569;</p>
        <p>&nbsp;English Race - Escola de aulas particulares de Inglês
            Endereço: R. São Francisco Xavier, 553 - Maracanã, Rio de Janeiro - RJ, 20550-011
            Telefone:(21) 99794-3496
            ;</p>
        <p>&nbsp;4me Idiomas Méier
            Endereço: R. José Bonifácio, 888 - Cachambi, Rio de Janeiro - RJ, 20770-240
            Telefone: (21) 3271-8040;</p>
        <p>&nbsp;Cultura Inglesa Cachambi
            Endereço:Av. Dom Hélder Câmara, 5186 - Cachambi, Rio de Janeiro - RJ, 20771-004
            Telefone:(21) 3275-8680;</p>
        <p>&nbsp;USA Rio English - Curso de inglês - Rio de Janeiro
            Endereço: R. Bulhões de Carvalho, 633 - Copacabana, Rio de Janeiro - RJ, 22081-000
            Telefone:(21) 98146-5142.</p>
      
        <h1>Tecnico em Segurança do Trabalho</h1>
      
        <img src="/assets/icon/h.jpg" alt="" />
      
        <p>&nbsp;Escola Técnica Centro Rio - Cursos Técnicos e Profissionalizantes
            Endereço:R. Camerino, 130 - Centro, Rio de Janeiro - RJ, 20080-010
            Telefone:(21) 2516-7363;</p>
        <p>&nbsp;Daltro Netto Colégio e Curso
            Endereço:R. Bacairis, 191 - Taquara, Rio de Janeiro - RJ, 22730-120
            Telefone:(21) 2435-2781;</p>
        <p>&nbsp;Colégio e Curso CT-Rio
            Endereço:R. Divisória, 48 - Bento Ribeiro, Rio de Janeiro - RJ, 21331-250
            Telefone:(21) 2452-2122;</p>
        <p>&nbsp;Prevenção Cursos e Treinamentos em Segurança do Trabalho
            Endereço:R. Alfredo de Morais, Nº 524 - Campo Grande, Rio de Janeiro - RJ, 23080-100
            Telefone:(21) 4104-7970;</p>
        <p>&nbsp;Curso Técnico Avançado
            Endereço:Av. Governador Leonel de Moura Brizola, 1203 - 901 - Centro, Duque de Caxias - RJ, 25010-007
            Telefone:(21) 3845-1910.</p>
        
        <h1>Tecnico em Radiologia</h1>
      
        <img src="/assets/icon/i.jpg" alt="" />
      
        <p>&nbsp;CETB
          Endereço:R. Dona Isabel, 794 - Bonsucesso, Rio de Janeiro - RJ, 21032-060
          Telefone:(21) 3976-3522;</p>
        <p>&nbsp;Escola Politécnica CENIB
          Endereço:Av. Rio Branco, 257 - Centro, Rio de Janeiro - RJ, 20040-090
          Telefone:(21) 2262-2001;</p>
        <p>&nbsp;Curso Técnico Real
          Endereço:Centro, Rio de Janeiro - RJ, 20221-260
          Telefone:(21) 3331-5458;</p>
        <p>&nbsp;Daltro Netto Colégio e Curso
          Endereço:R. Bacairis, 191 - Taquara, Rio de Janeiro - RJ, 22730-120
          Telefone:(21) 2435-2781;</p>
        <p>&nbsp;Escola Politécnica de Saúde Joaquim Venâncio
          Endereço:Av. Brasil, 4365 - Manguinhos, Rio de Janeiro - RJ, 21040-900
          Telefone:(21) 3865-9805.</p>
    
  </div>
        <ion-infinite-scroll threshold="100px" >
                <ion-infinite-scroll-content
                  loadingSpinner="bubbles"
                  loadingText="Carregando...">
                </ion-infinite-scroll-content>
        </ion-infinite-scroll>
