<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col>
      <ion-list inset>
        <ion-item>
          <ion-input placeholder="e-mail ou nome de usuario" type="text" #mail></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="senha" type="password" #password></ion-input>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <button ion-button class="submit-btn" (click)="logIn(mail.value,password.value)" type="submit">Login
      </button>
    </ion-col>
  </ion-row>

 <!-- <ion-item href="home">
    <ion-icon slot="start" color="medium" name="book"></ion-icon>
    <ion-label>Home</ion-label>
  </ion-item> -->

  <ion-button color="primary" href="tela">
    <ion-icon slot="start" color="medium" name="build"></ion-icon>
    <ion-label>Entrar</ion-label>
  </ion-button>

</ion-content>