<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Comunidade do Saber
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/icon/a.jpg" alt="" />
      <ion-card-header>
        
        <ion-card-title>Comunidade do Saber</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Aplicativo de busca de Cursos, Eventos e Oficinas gratuitos nas suas redondezas</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="cadastro">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Cadastro</ion-label>
      </ion-item>
      <ion-item href="login">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Login</ion-label>
      </ion-item>
      
      
    </ion-list>
</ion-content>
